* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  width: 100%;
  background: rgba(10, 12, 16, 0.25);
  border-bottom: 1px solid #101822;
  backdrop-filter: blur(25px);
  color: white;
  position: sticky !important;
  top: 0;
  position: absolute;
  right: 0;
  min-width: 210px;
  border-radius: 5px;
}

.logo {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 120%;
  color: #ffffff;
}

.line {
  border: 0.1px solid grey;
  color: rgba(255, 255, 255, 0.06);
  opacity: 0.1;
  margin-top: 5px;
}
.nav-links {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  width: 75%;
}
.home {
  text-decoration: none;

  font-size: 20px;
  padding: 10px 20px;
  margin: 0 10px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;

  /* identical to box height */

  color: #ffffff!important;
  cursor: pointer;
}
.login-butt {
  background: rgba(255, 255, 255, 0.08) !important;
  border-radius: 56px;
  padding: px;
  font-family: "Readex Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;

  color: #ffffff;
}
.cart-icon {
  text-decoration: none;
  color: white;
}
.home:hover {
  color: yellow;
}
.contact {
}
.mobile-menu-icon {
  display: none;
}
@media screen and (max-width: 780px) {
.navbar{
  justify-content: space-between;
}


  .logo-image{
    display: flex;
    align-items: flex-start;


  }
  .nav-links {
    display: none;
  }
  .login-butt {
    background: white !important;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
  }
  .cart-icon {
    text-decoration: none;
    color: rgb(0, 0, 0);
  }
  .nav-links-mobile {
    position: absolute;
    display: block;
    list-style: none;
    background-color: #ffd600;
    z-index: 999;
    left: 0;
    top: 75px;
    transition: all 0.5s ease-out;
    width: 100%;
  }

  .contact {
    border: none;
  }
  .home {
    color: black;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
  }
  .cart {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    text-align: center;
    padding: 20px;
    align-items: center;
  }

  .mobile-menu-icon {
    display: block;
    position: absolute;
    font-size: 30px;
    color: white;
    background-color: black;
    border: none;
    outline: none;
    top: 15px;
    right: 25px;
  }
  @media screen and (max-width: 480px) {
.logo-image{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

}

  }
}
