.contact-section {
  margin-top: -50px;

}


.contact-title {
  font-family: Readex Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 86.9406px;
  line-height: 109px;
  color: #ffffff;
}

.line-break {
  height: 40rem;
  position: relative;
  margin-top: -100px;
  margin-left: auto;
  margin-right: auto;
  border-right: solid black transparent;
}
.submit-button {
  background: #ffd600;
  border-radius: 14px;
  font-family: Verdana;
  font-style: normal;
  font-weight: bold;
  font-size: 38.6253px;
  line-height: 47px;
  text-align: center;
  color: #ffffff;
  width: 287px;
  height: 47.09px;
  outline: none;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: none;
}
/* Input Field */
#fullWidth {
  color: white;
}
#descrip {
  height: 150px;
  color: white;
  background: black;
  border-radius: 22px;
}

@media only screen and (max-width: 480px) {
.contact-image{
  display: none;
}
.contact-section {
margin-top: 50px;
}
.contact-title{
  font-size: 20px;
}
.line-break{
  display: none;
}
.submit-button {
margin-top: 90px;
font-size: 25px;
}

}