.contact-section {
  margin-top: -50px;

}

.contact-title {
  font-family: Readex Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 86.9406px;
  line-height: 109px;
  color: #ffffff;
}

/* .line-break {
  height: 20rem;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  border-right: 1px solid white;
  box-shadow: -2px 0px 2px white;
} */
.submit-button {
  background: #ffd600;
  border-radius: 14px;
  font-family: Verdana;
  font-style: normal;
  font-weight: bold;
  font-size: 38.6253px;
  line-height: 47px;
  text-align: center;
  color: #ffffff;
  width: 287px;
  height: 47.09px;
  outline: none;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: none;
}
/* Input Field */
#fullWidth {
  color: white;
}
#descrip {
  width: 476px;
  height: 150px;
  color: white;
}
